footer
  .footer-nav
    .container
      ul.footer-nav-list
        li.footer-nav-item
          h2.nav-title Popular Categories
        li.footer-nav-item
          a.footer-nav-link(href='#') Fashion
        li.footer-nav-item
          a.footer-nav-link(href='#') Electronic
        li.footer-nav-item
          a.footer-nav-link(href='#') Cosmetic
        li.footer-nav-item
          a.footer-nav-link(href='#') Health
        li.footer-nav-item
          a.footer-nav-link(href='#') Watches
      ul.footer-nav-list
        li.footer-nav-item
          h2.nav-title Products
        li.footer-nav-item
          a.footer-nav-link(href='#') Prices drop
        li.footer-nav-item
          a.footer-nav-link(href='#') New products
        li.footer-nav-item
          a.footer-nav-link(href='#') Best sales
        li.footer-nav-item
          a.footer-nav-link(href='#') Contact us
        li.footer-nav-item
          a.footer-nav-link(href='#') Sitemap
      ul.footer-nav-list
        li.footer-nav-item
          h2.nav-title Our Company
        li.footer-nav-item
          a.footer-nav-link(href='#') Delivery
        li.footer-nav-item
          a.footer-nav-link(href='#') Legal Notice
        li.footer-nav-item
          a.footer-nav-link(href='#') Terms and conditions
        li.footer-nav-item
          a.footer-nav-link(href='#') About us
        li.footer-nav-item
          a.footer-nav-link(href='#') Secure payment
      ul.footer-nav-list
        li.footer-nav-item
          h2.nav-title Services
        li.footer-nav-item
          a.footer-nav-link(href='#') Prices drop
        li.footer-nav-item
          a.footer-nav-link(href='#') New products
        li.footer-nav-item
          a.footer-nav-link(href='#') Best sales
        li.footer-nav-item
          a.footer-nav-link(href='#') Contact us
        li.footer-nav-item
          a.footer-nav-link(href='#') Sitemap
      ul.footer-nav-list
        li.footer-nav-item
          h2.nav-title Contact
        li.footer-nav-item.flex
          .icon-box
            ion-icon(name='location-outline')
          address.content
            | 419 State 414 Rte
            | Beaver Dams, New York(NY), 14812, USA
        li.footer-nav-item.flex
          .icon-box
            ion-icon(name='call-outline')
          a.footer-nav-link(href='tel:+607936-8058') (607) 936-8058
        li.footer-nav-item.flex
          .icon-box
            ion-icon(name='mail-outline')
          a.footer-nav-link(href='mailto:example@gmail.com') example@gmail.com
      ul.footer-nav-list
        li.footer-nav-item
          h2.nav-title Follow Us
        li
          ul.social-link
            li.footer-nav-item
              a.footer-nav-link(href='#')
                ion-icon(name='logo-facebook')
            li.footer-nav-item
              a.footer-nav-link(href='#')
                ion-icon(name='logo-twitter')
            li.footer-nav-item
              a.footer-nav-link(href='#')
                ion-icon(name='logo-linkedin')
            li.footer-nav-item
              a.footer-nav-link(href='#')
                ion-icon(name='logo-instagram')
  .footer-bottom
    .container
      img.payment-img(src='./assets/images/payment.png' alt='payment method')
      p.copyright
        | Copyright &copy; 
        a(href='#') Tejas
        |  all rights reserved.