extends base

block content
    div
        h2 Wishlist ❤️  
        .product-main
          .product-grid
            each item in productData
              .showcase
                .showcase-banner
                  img.product-img.default(src='../public/images/products/jacket-1.jpg' alt=`${item.product.product_name}` width='300')
                  img.product-img.hover(src='../public/images/products/jacket-1.jpg' alt='Mens Winter Leathers Jackets' width='300')
                  .showcase-actions
                    button.btn-action
                      img(src='../public/icons/wishlist-icon.svg' alt="wishlist" width='20' height='20')
                    button.btn-action
                      img(src='../public/icons/cart-icon.svg' alt="cart" width='20' height='20')
                .showcase-content
                  .showcase-category
                    a(href="#") #{item.product.category}
                    a(href="#")
                      .showcase-title
                        h3 #{item.product.product_name}
                    .price-box
                      .price
                        p ₹#{item.product.price}