.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
}

.navbar .pages {
  list-style: none;
}

.navbar .pages li {
  display: inline-block;
  padding: 0.7rem;
}

.navbar .siteFeatures {
  list-style: none;
  float: right;
}

.navbar .siteFeatures li {
  display: inline-block;
  padding: 0.5rem;
}

/* footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #1c212c;
  color: white;
}

.footer .shopList {
  list-style: none;
  padding: 0;
}

.footer .companyList {
  list-style: none;
  padding: 0;
}

.footer .navigationList {
  list-style: none;
  padding: 0;
}

.footer .newsletter input {
  height: 2rem;
  width: 20rem;
}

.footer .newsletter p {
  text-align: justify;
}

.copyrightDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
